@media screen and (max-width: 768px)  {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0 20px 0;
    }
    html {
        font-size: 16px;
    }
    .steps h2  {
        margin-bottom: 45px;
    }
    .steps .col img {
        margin-bottom: 25px;
    }
    .site-header {
        max-width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .why-us {
        background-color: #222222;
        padding-top: 3rem;
        margin-bottom: 0;
    }
    .steps {
        margin-bottom: 0;
    }
    .row {
        flex-direction: column;
        gap: 80px;
    }
    .col {
        min-width: calc(100%);
    }
    html {
        font-size: 21px;
    }
    
}